<h1><%= @gossip.title %></h1>
<p>Par <%= link_to @gossip.author.first_name, user_path(@gossip.author.id) %></p>
<p><%= @gossip.content %></p>
<p>Créé le <%= @gossip.created_at.strftime('%d/%m/%Y à %H:%M') %></p>


